repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.2
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/jorisroovers/gitlint
  rev: v0.19.1 # Fill in a tag / sha here (e.g. v0.19.1)
  hooks:
    - id: gitlint
