[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "packingcubes"
version = "0.0.1a1"
requires-python = ">=3.11"
dependencies = [
    "numpy",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "ruff",
    "coverage",
    "pytest-cov",
    "pre-commit",
]

[tool.ruff.lint]
extend-select = ["I"]
ignore = ["F841"]

[tool.coverage.run]
source = [
    "packingcubes",
]

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.pypi-dependencies]
packingcubes = { path = ".", editable = true }

[tool.pixi.environments]
default = { solve-group = "default" }
dev = { features = ["dev"], solve-group = "default" }
test = { features = ["test"], solve-group = "default" }

[tool.pixi.tasks]

[tool.pixi.feature.dev.tasks]
test = "pytest --cov=packingcubes"

[tool.pixi.feature.test.dependencies]
pytest = "*"
pytest-cov = "*"

[tool.pixi.dependencies]
hypothesis = ">=6.144.0,<7"
ipykernel = ">=7.1.0,<8"
